[defaults]
inventory=./inventory.ini
host_key_checking=false
roles_path= ./jenkins
ask_pass        = False
discovered_interpreter_python = /usr/bin/python3

[privilege_escalation]
become = true
become_method = sudo
become_ask_pass = False
become_user=root